 
/* ********************************************************* *
 *                       Archiver styles                     *
 * ********************************************************* */
 
 /* style applied to the UL rendered for a feedback panel */
 ul.feedbackPanel {
 	list-style-type: none;
 	margin: 0;
 }
 ul.feedbackPanel li span {
   display: block;
}

/* ================================================= */
/* autocomplete styling */
div.wicket-aa {
	font-size: 12px;
	background-color: white;
	border-color: #cccccc;
	border-width: 1px;
	border-style: solid;
	margin: 1px 0 0 0;
	text-align:left;
}
 
div.wicket-aa ul {
	list-style:none;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

div.wicket-aa li {
	list-style:none;
	margin-left: -17px; /*strip the default margin */
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.wicket-aa ul li.selected {
	background-color: #ffff77;
}
	